<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Funcionário</title>
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>
<body>

<h2>Funcionário: {{ fun.nome }}</h2>

<ul>
    <li>CPF: {{ fun.cpf }}</li>
    <li>E-mail: {{ fun.email }}</li>
    <li>Remuneração: {{ fun.remuneracao }}</li>
</ul>

<button type="button" class="btn btn-success" onclick="history.go(-1)">Voltar</button>

</body>
</html>
